{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}preferences/css/preferences.css" />
{% endblock %}

{% block content %}
<form id="preferences_form" action="." method="POST">
    {% csrf_token %}
    <div id="preferences">
{% for app,prefs in preferences.items %}
        <ul class="grappelli_list">
            <li class="section">{{ app.capitalize }}</li>
            {% for pref,values in prefs.items %}
            <li class="row"> 
                {{ pref }} 
                <select name="{{app}}{{ SEPARATOR }}{{pref}}">
                    {% for val in values %}
                    <option value="{{ val.1 }}" > {{ val.0 }} </option>
                    {% endfor %}
                </select>
            </li>
            {% endfor %}
        </ul>
{% endfor %}
    </div>
    <input type="submit" value="Enregistrer" />
</form>
{% endblock %}
